In [3]:
# import sqlite3
# connection = sqlite3.connect('example1.db')

# connection
# table_creation_query="""
# CREATE TABLE IF NOT EXISTS employees (
#     emp_id INTEGER PRIMARY KEY,
#     first_name TEXT NOT NULL,
#     last_name TEXT NOT NULL,
#     email TEXT UNIQUE NOT NULL,
#     hire_date TEXT NOT NULL,
#     salary REAL NOT NULL
# );
# """

# table_creation_query2="""
# CREATE TABLE IF NOT EXISTS customers (
#     customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
#     first_name TEXT NOT NULL,
#     last_name TEXT NOT NULL,
#     email TEXT UNIQUE NOT NULL,
#     phone TEXT
# );
# """


# table_creation_query3="""
# CREATE TABLE IF NOT EXISTS orders (
#     order_id INTEGER PRIMARY KEY AUTOINCREMENT,
#     customer_id INTEGER NOT NULL,
#     order_date TEXT NOT NULL,
#     amount REAL NOT NULL,
#     FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
# );

# """

# cursor=connection.cursor()


# cursor.execute(table_creation_query)
# cursor.execute(table_creation_query2)
# cursor.execute(table_creation_query3)


# insert_query = """
# INSERT INTO employees (emp_id, first_name, last_name, email, hire_date, salary)
# VALUES (?, ?, ?, ?, ?, ?);
# """

# insert_query_customers = """
# INSERT INTO customers (customer_id, first_name, last_name, email, phone)
# VALUES (?, ?, ?, ?, ?);
# """

# insert_query_orders = """
# INSERT INTO orders (order_id, customer_id, order_date, amount)
# VALUES (?, ?, ?, ?);
# """


# employee_data = [
#     (1, "Sunny", "Savita", "sunny.sv@abc.com", "2023-06-01", 50000.00),
#     (2, "Arhun", "Meheta", "arhun.m@gmail.com", "2022-04-15", 60000.00),
#     (3, "Alice", "Johnson", "alice.johnson@jpg.com", "2021-09-30", 55000.00),
#     (4, "Bob", "Brown", "bob.brown@uio.com", "2020-01-20", 45000.00),
#     ]

# customers_data = [
#     (1, "John", "Doe", "john.doe@example.com", "1234567890"),
#     (2, "Jane", "Smith", "jane.smith@example.com", "9876543210"),
#     (3, "Emily", "Davis", "emily.davis@example.com", "4567891230"),
#     (4, "Michael", "Brown", "michael.brown@example.com", "7894561230"),
# ]

# orders_data = [
#     (1, 1, "2023-12-01", 250.75),
#     (2, 2, "2023-11-20", 150.50),
#     (3, 3, "2023-11-25", 300.00),
#     (4, 4, "2023-12-02", 450.00),
# ]


# cursor.executemany(insert_query,employee_data)
# cursor.executemany(insert_query_customers,customers_data)
# cursor.executemany(insert_query_orders,orders_data)


# connection.commit()


# cursor.execute("select * from orders;")


# for row in cursor.fetchall():
#     print(row)

In [6]:
import sqlite3
import time

# Open the connection and set journal mode to WAL
connection = sqlite3.connect('example1.db')
cursor = connection.cursor()

# Set PRAGMA for Write-Ahead Logging
# cursor.execute("PRAGMA journal_mode=WAL;")

# Table creation queries
table_creation_query = """
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    hire_date TEXT NOT NULL,
    salary REAL NOT NULL
);
"""

table_creation_query2 = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT
);
"""

table_creation_query3 = """
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    order_date TEXT NOT NULL,
    amount REAL NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
);
"""

# Execute table creation
cursor.execute(table_creation_query)
cursor.execute(table_creation_query2)
cursor.execute(table_creation_query3)

# Insert queries
insert_query = """
INSERT INTO employees (emp_id, first_name, last_name, email, hire_date, salary)
VALUES (?, ?, ?, ?, ?, ?);
"""

insert_query_customers = """
INSERT INTO customers (customer_id, first_name, last_name, email, phone)
VALUES (?, ?, ?, ?, ?);
"""

insert_query_orders = """
INSERT INTO orders (order_id, customer_id, order_date, amount)
VALUES (?, ?, ?, ?);
"""

# Sample data
employee_data = [
    (1, "Sunny", "Savita", "sunny.sv@abc.com", "2023-06-01", 50000.00),
    (2, "Arhun", "Meheta", "arhun.m@gmail.com", "2022-04-15", 60000.00),
    (3, "Alice", "Johnson", "alice.johnson@jpg.com", "2021-09-30", 55000.00),
    (4, "Bob", "Brown", "bob.brown@uio.com", "2020-01-20", 45000.00),
]

customers_data = [
    (1, "John", "Doe", "john.doe@example.com", "1234567890"),
    (2, "Jane", "Smith", "jane.smith@example.com", "9876543210"),
    (3, "Emily", "Davis", "emily.davis@example.com", "4567891230"),
    (4, "Michael", "Brown", "michael.brown@example.com", "7894561230"),
]

orders_data = [
    (1, 1, "2023-12-01", 250.75),
    (2, 2, "2023-11-20", 150.50),
    (3, 3, "2023-11-25", 300.00),
    (4, 4, "2023-12-02", 450.00),
]

# Insert data with retry logic
retries = 5
for _ in range(retries):
    try:
        cursor.executemany(insert_query, employee_data)
        connection.commit()

        cursor.executemany(insert_query_customers, customers_data)
        connection.commit()

        cursor.executemany(insert_query_orders, orders_data)
        connection.commit()

        break  # If successful, break out of the loop
    except sqlite3.OperationalError as e:
        print(f"Error: {e}. Retrying...")
        time.sleep(1)  # Wait for 1 second before retrying

# Select and print all orders
cursor.execute("SELECT * FROM orders;")
for row in cursor.fetchall():
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Error: database is locked. Retrying...
Error: database is locked. Retrying...
Error: database is locked. Retrying...
Error: database is locked. Retrying...
Error: database is locked. Retrying...
(1, 1, '2023-12-01', 250.75)
(2, 2, '2023-11-20', 150.5)
(3, 3, '2023-11-25', 300.0)
(4, 4, '2023-12-02', 450.0)

In [7]:
from langchain_community.utilities import SQLDatabase
db=SQLDatabase.from_uri("sqlite:///mydb.db")
db