In [20]:
import sqlite3

In [21]:
connection = sqlite3.connect('example.db')

In [22]:
connection

In [23]:
table_creation_query1="""
CREATE TABLE IF NOT EXISTS employees(
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    hire_date TEXT NOT NULL,
    salary REAL NOT NULL
);
"""

In [24]:
table_creation_query2="""
CREATE TABLE IF NOT EXISTS customers(
    cust_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT
);
"""

In [25]:
table_creation_query3="""
CREATE TABLE IF NOT EXISTS orders(
    order_id INTEGER PRIMARY KEY,
    cust_id TEXT NOT NULL,
    order_date TEXT NOT NULL,
    ammount REAL NOT NULL,
    FOREIGN KEY(cust_id) REFERENCES customers(cust_id)
);
"""

In [26]:
cursor = connection.cursor()

In [27]:
cursor.execute(table_creation_query1)
cursor.execute(table_creation_query2)
cursor.execute(table_creation_query3)

In [28]:
insert_query = """
INSERT INTO employees (emp_id, first_name, last_name, email, hire_date, salary)
VALUES (?,?,?,?,?,?);
"""

insert_query_customers = """
INSERT INTO customers(cust_id, first_name, last_name, email,phone)
VALUES (?,?,?,?,?,?);
"""

insert_query_orders = """
INSERT INTO employees (order_id,cust_id, order_date,ammount)
VALUES (?,?,?,?,?,?);
"""

In [29]:
employee_data = [
    (1, "NS", "Loni", "as@gmail.com", "2023-12-14", 320000.00),
    (2, "NSLONI", "Loni1", "ns@gmail.com", "2023-12-18", 220000.00),
    (3, "NSL", "Loni2", "vs@gmail.com", "2023-12-17", 120000.00),
    (4, "LONI", "loni3", "ss@gmail.com", "2023-12-16", 80000.00)
]

customer_data = [
    (1,"as", "sd", "ns@gmail.com", "1234567890"),
    (2, "sdd", "ad", "sdsdsdds@ds.com", "3453456346"),
    (3, "sdd", "add", "sdsdsdds@wes.com", "34536546346"),
    (4, "sdn", "aad", "sdsdsdds@ws.com", "345356666")
]

orders_data = [
    (1,1,"2023-12-14", 320000.00),
    (2,2,"2023-12-18", 220000.00),
    (3,3,"2023-12-17", 120000.00),
    (4,4,"2023-12-16", 80000.00)
]

In [32]:
cursor.executemany(insert_query, employee_data)
cursor.executemany(insert_query_customers, customer_data)
cursor.executemany(insert_query_orders, orders_data)

OperationalError: database is locked